.sid-main .l-top { position: fixed; top: 0; left: 0; right: 0; width: 100%; z-index: 1100; }
.sid-main #wrapper { padding: 90px 0 45px; }

.home #content-body { margin: 0 230px 0 0; padding: 10px 0 0; }
.home #main { float: left; width: 100%; }
.home #side-panel { float: right; margin: 0 -230px 0 0; width: 220px; }
.home #side-panel.side-panel-sticky .side-panel-wrap { position: fixed; width: 220px; }

.enhanced-list .enhanced-list-item { margin: 0 0 10px; }
.enhanced-list .item-header { position: relative; z-index: 10; border: 1px solid #c2c8d3; border-radius: 4px; padding: 8px 10px 10px 34px; background: #eff3f6; background-clip: padding-box; box-shadow: inset 0 1px 0 #fff, 0 1px 0 #d9e0e6; }
.enhanced-list-item-expanded .item-header { border-radius: 4px 4px 0 0; box-shadow: inset 0 1px 0 #fff; }

.enhanced-list-item .collapsible-control { position: absolute; top: -1px; left: -1px; border: 1px solid #4ca4d7; border-radius: 4px 0 0 4px; height: 100%; width: 24px; background: #58b8e7; box-shadow: inset 0 1px 0 #9fdaf3, inset 0 50px 50px -30px #70c9ed; cursor: pointer; }
.enhanced-list-item-expanded .collapsible-control { border-radius: 4px 0 0; }
.enhanced-list-item .collapsible-control i { position: absolute; top: 50%; margin: -8px 4px 0; height: 16px; width: 16px; background: url(./collapsible-control.png) no-repeat; }
.enhanced-list-item-expanded .collapsible-control i { background-position: 0 -16px; }

.enhanced-list .item-header-table { width: 100%; }
.enhanced-list .item-header-table-left { vertical-align: top; }
.enhanced-list .item-header-table-right { text-align: right; vertical-align: top; }

.enhanced-list .item-header .system-icon, .enhanced-list .item-header .system-icon img { float: left; width: 64px; height: 64px; }
.enhanced-list .item-header .system-icon { margin-right: 8px; }

.enhanced-list .item-caption-name { margin: -4px 0 0; font-size: 24px; line-height: 26px; color: #3b4652; cursor: default; }
.enhanced-list .item-caption-name img { vertical-align: baseline; }

.enhanced-list .item-caption-details { font-size: 12px; }
.enhanced-list .item-caption-details-item { padding: 5px 0 0; }
.enhanced-list .item-caption-details .details-item-2 > span { margin-right: 10px; }

.enhanced-list .item-actions { border-top: 1px solid #c4cacd; margin: 8px 0 0; padding: 8px 0 0; font-size: 12px; box-shadow: inset 0 1px 0 #fff; }
.enhanced-list .item-actions .separator { display: inline-block; border-left: 1px solid #c2c8d3; height: 20px; margin: 0 4px 0 0; width: 1px; vertical-align: middle; background: #fcfdfe; }
.enhanced-list .item-info { padding-left: 10px; font-size: 12px; }
.enhanced-list .item-actions-links { vertical-align: middle; }
.enhanced-list .item-actions-links a, .enhanced-list .item-actions-links a:visited { color: #969696; text-decoration: underline; }
.enhanced-list .item-actions-links a:hover, .enhanced-list .item-actions-links a:active { color: #104382; }
.enhanced-list .item-actions-links .more-link:after { content: " \2192"; font-size: 13px; }
.enhanced-list .item-actions-links .less-link:before { content: "\2190 "; font-size: 13px; }

.enhanced-list-item-collapsed .item-actions-links .less-link,
.enhanced-list-item-expanded .item-actions-links .more-link { display: none; }

.e-indent { display: inline-block; padding: 0 0 0 20px; vertical-align: middle; line-height: 16px; }
.lte7 .e-indent { display: inline; zoom: 1; }
.e-indent .indent-icon { position: absolute; margin: 0 0 0 -20px; }
.e-indent .indent-icon img { display: block; }
.enhanced-list .item-actions .e-indent { margin: 0 4px 0 0; }

.enhanced-list .item-section { position: relative; z-index: 1; top: -6px; border: 1px solid #c2c8d3; border-radius: 0 0 4px 4px; margin-bottom: -6px; padding: 5px 0 0; background: #fff; box-shadow: 0 1px 0 #fff; }
.enhanced-list-item-collapsed .item-section { padding: 0; margin-bottom: -1px; }
.enhanced-list .item-section-wrap { box-shadow: inset 0 1px 0 #fff; }
.enhanced-list .item-section-content { padding: 10px 20px 10px 34px; }
.enhanced-list .tools-list-box .tools-list .tool-block { margin: 0 2px 4px; padding-left: 50px; }
.enhanced-list .tools-list-box .tools-list a.tool-block:hover { padding-left: 49px; }
.enhanced-list .tools-list .tool-block .tool-icon { float: none; display: inline-block; margin: 0 4px 0 -42px; vertical-align: middle; }
.enhanced-list .tools-list .tool-block .tool-name { display: inline-block; padding: 0; vertical-align: middle; }
.enhanced-list .tools-list-box .tools-list a.tool-block:hover { border-radius: 4px; border-color: #d7e5ed; background: #eefafd; box-shadow: inset 0 1px 0 #fff; }

.enhanced-list-item-collapsed .item-section-content { display: none; }

.enhanced-list .stat-list { display: inline-block; vertical-align: top; margin: 0; list-style: none; }
.enhanced-list .lte7 .stat-list { display: inline; zoom: 1; }
.enhanced-list .stat-item { float: left; margin: 0 0 0 3px; text-align: center; }
.enhanced-list .stat-item-disabled { opacity: 0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; -moz-opacity: 0.5; -khtml-opacity: 0.5; }
.enhanced-list .stat-block { float: left; border: 1px solid #c4cacd; border-radius: 4px; min-width: 62px; background: rgba(255,255,255,0.5); box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff; }
.enhanced-list .stat-item-warning .stat-block { border-color: #f9afb4; background: #f3d5d6; background: -webkit-linear-gradient(top, #fcdcde, #f3d5d6); background: -moz-linear-gradient(top, #fcdcde, #f3d5d6); background: -ms-linear-gradient(top, #fcdcde, #f3d5d6); background: -o-linear-gradient(top, #fcdcde, #f3d5d6); background: linear-gradient(top, #fcdcde, #f3d5d6); box-shadow: inset 0 1px 0 #f7fef2, 0 1px 0 #dadee1; -webkit-animation: msg-error-pulse 1.5s infinite; -moz-animation: msg-error-pulse 1.5s infinite; animation: msg-error-pulse 1.5s infinite; box-shadow: inset 0 1px 0 #f7fef2, 0 1px 0 #dadee1; }
.enhanced-list .stat-data, .enhanced-list .stat-name { display: block; padding: 3px; }
.enhanced-list .stat-data { font-size: 24px; }
.enhanced-list .stat-item-warning .stat-data { color: #c80000; }
.enhanced-list .stat-name { display: block; border-top: 1px solid #c4cacd; box-shadow: inset 0 1px 0 #fff; }
.enhanced-list .stat-item-warning .stat-name { border-color: #f9afb4; }

.btn span { display: inline-block; line-height: 16px; }
.btn img { float: left; margin: 0 4px 0 0; }
.item-actions .btn { margin: 0 4px 0 0; min-width: 0; vertical-align: middle; }
.item-actions .btn button { height: 24px; min-width: 0; font-size: 12px; }

.enhanced-list .two-cols-block .form-table td.field-name { width: auto; min-width: 100px; }
.enhanced-list .item-section-content .title h3 a.link-01 { font-weight: 400; }
.enhanced-list .item-section-content .title h3 { background: #fff; }

/* side */
.panel2 { border: 1px solid #c4cacd; border-radius: 5px; margin: 0 0 10px; background: #fff; box-shadow: 0 1px 1px #e6e6e6; }
.panel2-heading { position: relative; border: 1px solid #b8d0dd; border-radius: 5px 5px 0 0; margin: -1px -1px 0; min-height: 16px; color: #5d6973; background: #e3f0f6 url(../theme/images/heading.png) repeat-x; background-clip: padding-box; box-shadow: inset 0 1px 0 #fff, 0 2px 0 -1px #fff; cursor: default; }
.panel2-heading-wrap { padding: 5px 28px 6px 10px; }
.panel2-heading h4 { margin: 0; padding: 0; color: #105a82; font-weight: 400; font-size: 13px; }
.panel2-heading .panel2-control { position: absolute; top: 5px; right: 8px; width: 16px; height: 16px; cursor: pointer; background: url(../theme/icons/16/plesk/search-hide.png) no-repeat; }
.panel2-content { padding: 8px 10px 12px; font-size: 12px; line-height: 1.4; box-shadow: inset 0 20px 15px -15px #e3f0f6; }

.panel2-collapsed .panel2-heading { border-radius: 5px; box-shadow: inset 0 1px 0 #fff; }
.panel2-collapsed .panel2-heading .panel2-control { background-image: url(../theme/icons/16/plesk/search-show.png); }
.panel2-collapsed .panel2-content { display: none; }
.panel2-expanded {  }

.panel2 .form-box { margin: 0 -5px; }
.panel2 .form-box .content { padding: 0; }
.panel2 .form-table { margin: 0; }
.panel2 .form-table td.field-name { width: auto; }
.panel2 .form-table > tbody > tr > td { padding: 5px; }

.links-list { margin: 0; padding: 0; list-style: none; }
.links-list li { padding: 3px 0 3px 12px; background: url(../theme/images/link-arrow.png) 0 8px no-repeat; }
